footer {
  width: 100%;
  font-size: 0.7em;
  color: var(--main-text);
  text-decoration: none;
  text-align: center;
  margin: 2em auto 1em auto;
}
footer a:link,
footer a:visited {
  color: var(--main-text);
  text-decoration: none;
}
footer a:hover {
  color: #999999;
  text-decoration: none;
}
@media (min-width: 1200px) {
  footer {
    width: 1200px;
    text-align: right;
  }
}
