footer {
  width: 100%;
  font-size: 0.7em;
  color: var(--main-text);
  text-decoration: none;
  text-align: center;
  margin: 2em auto 1em auto;
}
footer a:link,
footer a:visited {
  color: var(--main-text);
  text-decoration: none;
}
footer a:hover {
  color: #999999;
  text-decoration: none;
}
@media (min-width: 1200px) {
  footer {
    width: 1200px;
    text-align: right;
  }
}
.to-top-btn {
  display: block;
  padding: 0.4em 0.5em;
  color: darkslategrey;
  background-color: #d6d6d6;
  border-radius: 0.6em;
  width: fit-content;
  position: fixed;
  right: 20px;
  bottom: 30px;
  transition: 0.3s ease;
  cursor: pointer;
  opacity: 0;
}
.to-top-btn:hover {
  background-color: #ece1cb;
  color: rgb(78, 131, 118);
  transition: 0.3s ease;
}
.to-top-btn-appear {
  opacity: 0.8;
}