:root {
    --nav-link: #ffffff;
    --nav-hover: #a6ece6;
}
nav {
    text-align: center;
    width: 100%;
    background-color: #033c43;
    color: var(--nav-link);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
}
.nav_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    padding: 0.2em 1em;
}
@media (min-width: 750px) {
    nav {
        min-height: 4vh;
    }
    .nav_content {
        width: 1200px;
        justify-content: space-between;
        margin: 0 auto;
        gap: 1em;
    }
}
@media (min-width: 1220px) {
    .nav_content {
        padding: 0.2em 0;
    }
}
.nav_content ul {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
}
.nav_content li {
    display: block;
}
.nav_content li a {
    display: block;
    padding: 0.1em 0.1em;
    color: var(--nav-link);
    text-decoration: none;
    transition: 0.8s ease;
}
.nav_content a:hover {
    color: var(--nav-hover);
}
